@model IEnumerable<Item>
@{
}
@foreach (var item in Model)
{
    <p>@item.Description</p>
    <p>@item.Title</p>
    foreach (var pi in item.GetType().GetProperties())
    {
        var res = pi.GetValue(item, null);
        if (res != null && pi.Name != "Id")
        {
            <p>
                <label>@pi.Name =  @pi.GetValue(item, null)</label>
            </p>
        }
    }
}
<a>GENERATED: <current-time></current-time></a>
